- post = @posts.shift
= render 'articles/article', article: post do
  = image_tag post.main_photo

- @posts.each do |post|
  = render 'articles/article', article: post do
    = avatar(post.author, :thumbnail)
    %span= link_to post.author.nick, post.author
