- post = @posts.shift
  = render 'articles/date_and_title', article: post

.rnk-Section_FeatureHeadlinesFooter
  = image_tag post.main_photo

  = render 'articles/replies_and_likes', article: post

- @posts.each do |post|
  = render 'articles/date_and_title', article: post

  .rnk-Section_FeatureHeadlinesFooter
    = avatar(post.author, :thumbnail)
    %span= link_to post.author.nick, post.author

    = render 'articles/replies_and_likes', article: post
