- post = @posts.shift
.rnk-Section_FeatureHeadlinesHeader
  = l post.created_at, format: :short

.rnk-Section_FeatureHeadlinesBody
  %h3.rnk-Section_Title
    = link_to post.title, post, class: 'core-Link'

.rnk-Section_FeatureHeadlinesFooter
  = image_tag post.main_photo

  .core-BlogPost_CommentsDark
    = post.replies_count

  - if post.likes_count.positive?
    .core-BlogPost_LikeDark
      = post.likes_count

- @posts.each do |post|
  .rnk-Section_FeatureHeadlinesHeader
    = l post.created_at, format: :short

  .rnk-Section_FeatureHeadlinesBody
    %h3.rnk-Section_Title
      = link_to post.title, post, class: 'core-Link'

  .rnk-Section_FeatureHeadlinesFooter
    = avatar(post.author, :thumbnail)
    %span= link_to post.author.nick, post.author

    .core-BlogPost_CommentsDark
      = post.replies_count

    - if post.likes_count.positive?
      .core-BlogPost_LikeDark
        = post.likes_count
