.rnk-Section_FeatureHeadlinesHeader
  = l article.created_at, format: :short

.rnk-Section_FeatureHeadlinesBody
  %h3.rnk-Section_Title
    = link_to article.title, article, class: 'core-Link'

.rnk-Section_FeatureHeadlinesFooter

  - if article.is_a? New
    %p
      = article.intro_text.html_safe
  - elsif position == 1
    %h3.rnk-Section_Title
      = link_to article.title, article, class: 'core-Link'
  - else
    = avatar(article.author, :thumbnail)
    %span= link_to article.author.nick, article.author

  .core-BlogPost_CommentsDark
    = article.replies_count

  - if article.likes_count.positive?
    .core-BlogPost_LikeDark
      = article.likes_count
